.calc.tripleContainer
  .asideLeft.asideLeft_white
    ul.asideMenu
      li.asideMenu__item: a(href='#') Behance
      li.asideMenu__item: a(href='#') Facebook
      li.asideMenu__item: a(href='#') Instagram
  .calc__container.tripleContainer__center
    .calc__content
      .calc__title.pageTitle.pageTitle_white
        .pageTitle__number 08
          h2.pageTitle__text Рассчитать ваш проект
        .calc__firstTop
          .calc__subtitle ВЫБЕРИТЕ ТИП ПРОЕКТА
      .calc__mainStepBlock.active
        .calc__stepsContainer
          ul.calc__stepList
            li.calc__stepItem.active
              .calc__stepNumber Шаг 1
              .calc__stepLabel Стоимость сайта
        ul.calc__optionList
          li.calc__optionItem
            svg.svgOption
              use(href='#computer')
            .calc__optionLabel Разработка web&mobile
          li.calc__optionItem
            svg.svgOption
              use(href='#ui')
            .calc__optionLabel UX/Ui  дизайн
          li.calc__optionItem
            svg.svgOption
              use(href='#digital-adv')
            .calc__optionLabel Digital-маркетинг
          li.calc__optionItem
            svg.svgOption
              use(href='#cloud-computing')
            .calc__optionLabel CRM автоматизация
      .calc__wrapper
        .calc__block
          .calc__stepBlock
            .calc__subtitle ВЫБЕРИТЕ ТИП ПРОЕКТА
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 2 из 7
                  .calc__stepLabel CMS
            ul.calc__optionList
              li.calc__optionItem.calc__optionItem_small.active
                .calc__optionLabel Отличная бесплатная
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Функциональные коммерческие, "заточенные" под интернет-торговлю
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Популярные универсальные системы управления
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Профессиональные CMS – лидеры рынка
            .calc__nav
              .calc__prev Назад
              .calc__next Вперед
          .calc__stepBlock
            .calc__subtitle Система управления
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 3 из 7
                  .calc__stepLabel Дизайн
            ul.calc__optionList
              li.calc__optionItem.calc__optionItem_small.active
                .calc__optionLabel Готовый дизайн
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Готовый дизайн с легким редизайном или интеграция готового дизайна
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Красивый индивидуальный дизайн
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Индивидуальный дизайн. И прям каждую страничку нарисовать... И эффектов, эффектов побольше...
            .calc__nav
              .calc__prev Назад
              .calc__next Вперед
          .calc__stepBlock
            .calc__subtitle Система управления
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 4 из 7
                  .calc__stepLabel Оплата
            ul.calc__optionList
              li.calc__optionItem.calc__optionItem_small.active
                .calc__optionLabel Хватит «Наличными курьеру»
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Настройка 1-2 платежных систем или агрегатор платежей, включенных в CMS
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Настройка 3-10 платежных систем или агрегаторов, включенных в CMS
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Индивидуальная интеграция способов оплаты, модули интернет-экквайринга
            .calc__nameAsk
              .calc__myLabel
                | Меня зовут Александр!
                br
                | Как мне к вам обращаться?
              input.calc__calcInput(type='text', placeholder="Ваше имя")
            .calc__nav.calc__nav_noMargin
              .calc__prev Назад
              .calc__next Вперед
          .calc__stepBlock
            .calc__subtitle Подключение платежных систем
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 5 из 7
                  .calc__stepLabel Настройка
            ul.calc__optionList
              li.calc__optionItem.calc__optionItem_small.active
                .calc__optionLabel Сам всё настрою
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Настройка стандартных функций
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Настройка и небольшая доработка
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Индивидуальное программирование и доработка
            .calc__nameAsk
              .calc__myLabel
                | Как с Вами связаться?
                br
                | Мы можем выслать подробный бриф по ответам которого сделаем более точную оценку стоимости.
              input.calc__calcInput(type='text', placeholder="Ваш E-mail")
            .calc__nav.calc__nav_noMargin
              .calc__prev Назад
              .calc__next Вперед
          .calc__stepBlock
            .calc__subtitle Интеграция с 1С
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 6 из 7
                  .calc__stepLabel Интеграция
            ul.calc__optionList
              li.calc__optionItem.calc__optionItem_small.active
                .calc__optionLabel Не нужна
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Нужна, со стандартными настройками 1С и системы
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Нужна индивидуальная доработка
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel И не только с 1С
            .calc__nameAsk
              .calc__myLabel
                | Самый лучший способ понять ваши цели - это звонок!
                br
                | Укажите Ваш номер телефона и мы позвоним вам, если это будет удобно для вас
              input.calc__calcInput(type='text', placeholder="Ваш номер телефона")
            .calc__nav.calc__nav_noMargin
              .calc__prev Назад
              .calc__next Вперед
          .calc__stepBlock
            .calc__subtitle Цена
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 7 из 7
                  .calc__stepLabel Стоимость сайта
              a.calc__sale(href='#') Нужна скидка?
            .calc__last
              .calc__priceBlock
                .calc__priceLabel
                  | Стоимость
                  br
                  | 550 .. 1000 BYN
                a.calc__priceButton(href="#") Получить консультацию
                .calc__priceText Мы свяжемся с вами и предложим лучшее решение!
              .calc__lastRight
                .calc__lastContent
                  .calc__lastBlock.calc__lastBlock_wide
                    .calc__lastLabel Это дорого или дёшево? Давайте сравним.
                    .calc__lastText 8-14 секунд рекламы на радио в Москве
                    .calc__lastText 1-2 полосы рекламы в региональном журнале
                    .calc__lastText 1 месяц размещения рекламы на наружном щите в центре Петербурга
                .calc__lastContent
                  .calc__lastBlock.calc__lastBlock_pros
                    .calc__lastLabel Что ещё влияет на стоимость:
                    .calc__lastText Сложность структуры
                    .calc__lastText Наличие мобильной версии
                    .calc__lastText Мультиязычность
                    .calc__lastText Фильтры товаров, и много другое
                  .calc__lastBlock.calc__lastBlock_cons
                    .calc__lastLabel Временно в калькулятор не включены:
                    .calc__lastText «Чтобы система вообще всё за меня делала»
                    .calc__lastText «Чтобы Артемий Лебедев обзавидовался»
                    .calc__lastText «Хочу личный Amazon и Ebay за 3 дня»
                    .calc__lastText «Чтобы сразу на счёт в швейцарском банке падало»
            .calc__nav.calc__nav_noMargin
              .calc__prev Назад
              .calc__next Вперед
        .calc__block
          .calc__stepBlock
            .calc__subtitle Направление дизайна
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 2 из 4
                  .calc__stepLabel направление
            ul.calc__optionList
              li.calc__optionItem.calc__optionItem_small.active
                .calc__optionLabel Дизайн логотипа
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel
                  | Фирменный стиль,
                  br
                  | Создание имиджевой графики
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel
                  | Упаковка бизнеса под ключ,
                  br
                  | Брендирование
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel
                  | Дизайн
                  br
                  | WEB&MOBILE
            .calc__nav
              .calc__prev Назад
              .calc__next Вперед
          .calc__stepBlock
            .calc__subtitle Связь с нами
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 3 из 4
                  .calc__stepLabel контакты
            .calc__nameAsk
              .calc__myLabel
                .calc__myLabel
                  | Меня зовут Александр!
                  br
                  | Как мне к вам обращаться?
              input.calc__calcInput(type='text', placeholder="Ваше имя")
            .calc__nameAsk
              .calc__myLabel
                | Как с Вами связаться?
                br
                | Мы можем выслать подробный бриф по ответам которого сделаем более точную оценку стоимости.
              input.calc__calcInput(type='text', placeholder="Ваш E-mail")
            .calc__nameAsk
              .calc__myLabel
                | Самый лучший способ понять ваши цели - это звонок!
                br
                | Укажите Ваш номер телефона и мы позвоним вам, если это будет удобно для вас
              input.calc__calcInput(type='text', placeholder="Ваш номер телефона")
            .calc__nav
              .calc__prev Назад
              .calc__next Вперед
          .calc__stepBlock
            .calc__subtitle Цена
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 4 из 4
                  .calc__stepLabel Стоимость дизайна
              a.calc__sale(href='#') Нужна скидка?
            .calc__last
              .calc__priceBlock
                .calc__priceLabel
                  | Стоимость
                  br
                  | от 400 .. 1000 BYN
                a.calc__priceButton(href="#") Получить консультацию
                .calc__priceText Мы свяжемся с вами и предложим лучшее решение!
              .calc__lastRight
                .calc__lastContent
                  .calc__lastBlock.calc__lastBlock_wide
                    .calc__lastLabel Это дорого или дёшево? Давайте сравним.
                    .calc__lastText 8-14 секунд рекламы на радио в Москве
                    .calc__lastText 1-2 полосы рекламы в региональном журнале
                    .calc__lastText 1 месяц размещения рекламы на наружном щите в центре Петербурга
                .calc__lastContent
                  .calc__lastBlock.calc__lastBlock_pros
                    .calc__lastLabel Что ещё влияет на стоимость:
                    .calc__lastText Сложность отрисовки
                    .calc__lastText Количество вариантов
                    .calc__lastText 3d визуализация
                    .calc__lastText Количество элементов
                  .calc__lastBlock.calc__lastBlock_cons
                    .calc__lastLabel Временно в калькулятор не включены:
                    .calc__lastText «Чтобы бы все Ах**ли от красоты»
                    .calc__lastText «Чтобы Артемий Лебедев обзавидовался»
                    .calc__lastText «Хочу дизайн как y googlе за 3 дня»
                    .calc__lastText «Чтобы клиент посмотрел на дизайн и отдал все свои деньги»
            .calc__nav.calc__nav_noMargin
              .calc__prev Назад
              .calc__next Вперед
        .calc__block
          .calc__stepBlock
            .calc__subtitle Направление дизайна
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 2 из 5
                  .calc__stepLabel направление
            ul.calc__optionList
              li.calc__optionItem.calc__optionItem_small.active
                .calc__optionLabel Маркетинговая стратегия
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel SEO продвижение
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Social Media Marketing
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Контекстная реклама
            ul.calc__optionList
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Таргетированная реклама
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Квиз-маркетинг
            .calc__nav.calc__nav_noMargin
              .calc__prev Назад
              .calc__next Вперед
          .calc__stepBlock
            .calc__subtitle Маркетинговый бюджет
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 3 из 5
                  .calc__stepLabel Бюджет
            .calc__rangeText Укажите бюджет который вы тратите на маркетинг и рекламу в месяц
            .calc__rangeBlock
              .calc__rangeInputs
                .calc__rangeInput
                  .calc__rangeLabel От
                  input.calc__rangeValue.calc__rangeValue_first(type="text", placeholder="0 BYN")
                .calc__rangeInput
                  .calc__rangeLabel До
                  input.calc__rangeValue.calc__rangeValue_last(type="text", placeholder="0 BYN")
              .calc__rangeContainer
                .calc__rangeSubtitle
                  span 0 BYN
                  span Больше 5000 BYN
                .layout-slider
                .calc__rangeSubtitle
                  span Палатка на рынке
                  span Космос
            .calc__nav
              .calc__prev Назад
              .calc__next Вперед
          .calc__stepBlock
            .calc__subtitle Связь с нами
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 4 из 5
                  .calc__stepLabel контакты
            .calc__nameAsk
              .calc__myLabel
                .calc__myLabel
                  | Меня зовут Александр!
                  br
                  | Как мне к вам обращаться?
              input.calc__calcInput(type='text', placeholder="Ваше имя")
            .calc__nameAsk
              .calc__myLabel
                | Как с Вами связаться?
                br
                | Мы можем выслать подробный бриф по ответам которого сделаем более точную оценку стоимости.
              input.calc__calcInput(type='text', placeholder="Ваш E-mail")
            .calc__nameAsk
              .calc__myLabel
                | Самый лучший способ понять ваши цели - это звонок!
                br
                | Укажите Ваш номер телефона и мы позвоним вам, если это будет удобно для вас
              input.calc__calcInput(type='text', placeholder="Ваш номер телефона")
            .calc__nav
              .calc__prev Назад
              .calc__next Вперед
          .calc__stepBlock
            .calc__subtitle Цена
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 5 из 5
                  .calc__stepLabel Стоимость дизайна
              a.calc__sale(href='#') Нужна скидка?
            .calc__last
              .calc__priceBlock
                .calc__priceLabel
                  | Стоимость
                  br
                  | от 200 до 1000 BYN
                a.calc__priceButton(href="#") Получить консультацию
                .calc__priceText Мы свяжемся с вами и предложим лучшее решение!
              .calc__lastRight
                .calc__lastContent
                  .calc__lastBlock.calc__lastBlock_wide
                    .calc__lastLabel Это дорого или дёшево? Давайте сравним.
                    .calc__lastText 8-14 секунд рекламы на радио в Москве
                    .calc__lastText 1-2 полосы рекламы в региональном журнале
                    .calc__lastText 1 месяц размещения рекламы на наружном щите в центре Петербурга
                .calc__lastContent
                  .calc__lastBlock.calc__lastBlock_pros
                    .calc__lastLabel Что ещё влияет на стоимость:
                    .calc__lastText Сфера бизнеса
                    .calc__lastText Количество рекламных каналов
                    .calc__lastText Маркетинговая стратегия
                    .calc__lastText Вовлеченность аудитории
                  .calc__lastBlock.calc__lastBlock_cons
                    .calc__lastLabel Временно в калькулятор не включены:
                    .calc__lastText «Чтобы бы все сделали без нашего участия»
                    .calc__lastText «Чтобы как у конкурентов и даже лучше»
                    .calc__lastText «Хочу 1000 лидов за 20$ и за день»
                    .calc__lastText «Чтобы настроили один раз и на год как минимум»
            .calc__nav.calc__nav_noMargin
              .calc__prev Назад
              .calc__next Вперед
        .calc__block
          .calc__stepBlock
            .calc__subtitle Направление дизайна
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 2 из 4
                  .calc__stepLabel направление
            ul.calc__optionList
              li.calc__optionItem.calc__optionItem_small.active
                .calc__optionLabel Внедрение KPI
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Интеграция телефонии
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Автоматизация бизнес-процессов
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Обмен с 1С
            ul.calc__optionList
              li.calc__optionItem.calc__optionItem_small
                .calc__optionLabel Внедрение CRM
            .calc__nav.calc__nav_noMargin
              .calc__prev Назад
              .calc__next Вперед
          .calc__stepBlock
            .calc__subtitle Связь с нами
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 3 из 4
                  .calc__stepLabel контакты
            .calc__nameAsk
              .calc__myLabel
                .calc__myLabel
                  | Меня зовут Александр!
                  br
                  | Как мне к вам обращаться?
              input.calc__calcInput(type='text', placeholder="Ваше имя")
            .calc__nameAsk
              .calc__myLabel
                | Как с Вами связаться?
                br
                | Мы можем выслать подробный бриф по ответам которого сделаем более точную оценку стоимости.
              input.calc__calcInput(type='text', placeholder="Ваш E-mail")
            .calc__nameAsk
              .calc__myLabel
                | Самый лучший способ понять ваши цели - это звонок!
                br
                | Укажите Ваш номер телефона и мы позвоним вам, если это будет удобно для вас
              input.calc__calcInput(type='text', placeholder="Ваш номер телефона")
            .calc__nav
              .calc__prev Назад
              .calc__next Вперед
          .calc__stepBlock
            .calc__subtitle Цена
            .calc__stepsContainer
              ul.calc__stepList
                li.calc__stepItem.active
                  .calc__stepNumber Шаг 4 из 4
                  .calc__stepLabel Стоимость дизайна
              a.calc__sale(href='#') Нужна скидка?
            .calc__last
              .calc__priceBlock
                .calc__priceLabel
                  | УВЫ!!
                  br
                  span Стоимость примерно не расчитать (((
                a.calc__priceButton(href="#") Получить консультацию
                .calc__priceText Мы свяжемся с вами и предложим лучшее решение!
              .calc__lastRight
                .calc__lastContent
                  .calc__lastBlock.calc__lastBlock_wide
                    .calc__lastLabel Это дорого или дёшево? Давайте сравним.
                    .calc__lastText 8-14 секунд рекламы на радио в Москве
                    .calc__lastText 1-2 полосы рекламы в региональном журнале
                    .calc__lastText 1 месяц размещения рекламы на наружном щите в центре Петербурга
                .calc__lastContent
                  .calc__lastBlock.calc__lastBlock_pros
                    .calc__lastLabel Что ещё влияет на стоимость:
                    .calc__lastText Сложность бизнес процессов
                    .calc__lastText Количество выгрузок и интеграций
                    .calc__lastText Обьема работы
                  .calc__lastBlock.calc__lastBlock_cons
                    .calc__lastLabel Временно в калькулятор не включены:
                    .calc__lastText «Чтобы бы все под ключ, но про бизнес процессы свои не раскажу»
                    .calc__lastText «Хочу что бы все сделали за 3 дня»
                    .calc__lastText «Чтобы вы все сделали и еще мне 100$»
            .calc__nav.calc__nav_noMargin
              .calc__prev Назад
              .calc__next Вперед
  .asideRight.asideRight_white
    .asideCopy © 2013-2019 LIKEIT / web-engineering co