.clients.tripleContainer
  .asideLeft
    ul.asideMenu
      li.asideMenu__item: a(href='#') Behance
      li.asideMenu__item: a(href='#') Facebook
      li.asideMenu__item: a(href='#') Instagram
  .clients__container.tripleContainer__center
    .clients__header
      .clients__mainTitle.pageTitle
        .pageTitle__number 06
        h2.pageTitle__text Наши клиенты
    ul.clients__list
      li.clients__item
        .clients__image
          img(src='img/client1.png', alt)
        .clients__content
          .clients__label Raivbel
          .clients__text Официальный поставщик преимиальных марок кофе и чая в Республике Беларусь в сегменте HoReCa
      li.clients__item
        .clients__image
          img(src='img/client2.png', alt)
        .clients__content
          .clients__label Беларуская Чыгунка
          .clients__text Белорусская железная дорога
      li.clients__item
        .clients__image
          img(src='img/client3.png', alt)
        .clients__content
          .clients__label Assuta Clinic
          .clients__text Ведущий и самый современный медицинский центр в Израиле
      li.clients__item
        .clients__image
          img(src='img/client4.png', alt)
        .clients__content
          .clients__label Ami Мебель
          .clients__text Крупнейший производитель мебели
      li.clients__item
        .clients__image
          img(src='img/client5.png', alt)
        .clients__content
          .clients__label Hankook
          .clients__text Известный на весь мир Южнокорейский производитель шин
      li.clients__item
        .clients__image
          img(src='img/client6.png', alt)
        .clients__content
          .clients__label Leicht Küchen
          .clients__text Диллер производителя одной из лучших премиальных марок в Германии
      li.clients__item
        .clients__image
          img(src='img/client7.png', alt)
        .clients__content
          .clients__label BYCKOVSKI
          .clients__text Европейскй бренд дизайнерских сумок и аксессуаров
      li.clients__item
        .clients__image
          img(src='img/client8.png', alt)
        .clients__content
          .clients__label Siesta
          .clients__text Белорусский производитель ортопедических матрасов и подушек
      li.clients__item
        .clients__image
          img(src='img/client9.png', alt)
        .clients__content
          .clients__label AUTOLIGHT EXPRESS
          .clients__text Транспотно-экспедиторная компания
      li.clients__item
        .clients__image
          img(src='img/client10.png', alt)
        .clients__content
          .clients__label Ключевые решения
          .clients__text Одна из ведущих консалтинговых компаний Беларуси, предоставляющая услуги по управленческому консультированию предприятий.
      li.clients__item
        .clients__image
          img(src='img/client11.png', alt)
        .clients__content
          .clients__label Белагропромбанк
          .clients__text Один из крупнейших банков в Центральной и Восточной Евпропе
      li.clients__item
        .clients__image
          img(src='img/client12.png', alt)
        .clients__content
          .clients__label Жилой комплекс Д3
          .clients__text Элитный жилой комплекс в Лебяжьем
    ul.clients__list.clients__list_slider
      li.clients__item
        .clients__image
          img(src='img/client1.png', alt)
        .clients__content
          .clients__label Raivbel
          .clients__text Официальный поставщик преимиальных марок кофе и чая в Республике Беларусь в сегменте HoReCa
      li.clients__item
        .clients__image
          img(src='img/client2.png', alt)
        .clients__content
          .clients__label Беларуская Чыгунка
          .clients__text Белорусская железная дорога
      li.clients__item
        .clients__image
          img(src='img/client3.png', alt)
        .clients__content
          .clients__label Assuta Clinic
          .clients__text Ведущий и самый современный медицинский центр в Израиле
      li.clients__item
        .clients__image
          img(src='img/client4.png', alt)
        .clients__content
          .clients__label Ami Мебель
          .clients__text Крупнейший производитель мебели
      li.clients__item
        .clients__image
          img(src='img/client5.png', alt)
        .clients__content
          .clients__label Hankook
          .clients__text Известный на весь мир Южнокорейский производитель шин
      li.clients__item
        .clients__image
          img(src='img/client6.png', alt)
        .clients__content
          .clients__label Leicht Küchen
          .clients__text Диллер производителя одной из лучших премиальных марок в Германии
      li.clients__item
        .clients__image
          img(src='img/client7.png', alt)
        .clients__content
          .clients__label BYCKOVSKI
          .clients__text Европейскй бренд дизайнерских сумок и аксессуаров
      li.clients__item
        .clients__image
          img(src='img/client8.png', alt)
        .clients__content
          .clients__label Siesta
          .clients__text Белорусский производитель ортопедических матрасов и подушек
      li.clients__item
        .clients__image
          img(src='img/client9.png', alt)
        .clients__content
          .clients__label AUTOLIGHT EXPRESS
          .clients__text Транспотно-экспедиторная компания
      li.clients__item
        .clients__image
          img(src='img/client10.png', alt)
        .clients__content
          .clients__label Ключевые решения
          .clients__text Одна из ведущих консалтинговых компаний Беларуси, предоставляющая услуги по управленческому консультированию предприятий.
      li.clients__item
        .clients__image
          img(src='img/client11.png', alt)
        .clients__content
          .clients__label Белагропромбанк
          .clients__text Один из крупнейших банков в Центральной и Восточной Евпропе
      li.clients__item
        .clients__image
          img(src='img/client12.png', alt)
        .clients__content
          .clients__label Жилой комплекс Д3
          .clients__text Элитный жилой комплекс в Лебяжьем
  .asideRight
    .asideCopy © 2013-2019 LIKEIT / web-engineering co