.directions.tripleContainer
    .asideLeft
    .directions__container.tripleContainer__center
        .directions__picture.active
            img(src='img/desigionsImg.png', alt='Desigions image')
        .directions__picture
            img(src='img/desigionsImg2.png', alt='Desigions image')
        .directions__picture
            img(src='img/desigionsImg3.png', alt='Desigions image')
        .directions__picture
            img(src='img/desigionsImg4.png', alt='Desigions image')
        .directions__content
            .directions__title.pageTitle
                .pageTitle__number 01
                h2.pageTitle__text Решения
            .directions__options
                .dirOption
                    a.dirOption__title(href='/serviceItem.html') Разработка web&mobile
                    ul.dirOption__list
                        li.dirOption__item: a(href='#') Создание интернет-магазина
                        li.dirOption__item: a(href='#') Корпоративные сайты
                        li.dirOption__item: a(href='#') Landing pages
                        li.dirOption__item: a(href='#') Техническая поддержка
                        li.dirOption__item: a(href='#') Мобильное приложение
                        li.dirOption__item: a(href='#') Уникальный проект
                .dirOption
                    a.dirOption__title(href='/serviceDesign.html') UX/Ui дизайн
                    ul.dirOption__list
                        li.dirOption__item: a(href='#') UX/Ui дизайн
                        li.dirOption__item: a(href='#') Фирменный стиль
                        li.dirOption__item: a(href='#') Создание имиджевой графики
                        li.dirOption__item: a(href='#') Дизайн
                        li.dirOption__item: a(href='#') Разработка логотипа
                        li.dirOption__item: a(href='#') Упаковка бизнеса под ключ
                .dirOption
                    a.dirOption__title(href='/serviceDigital.html') Digital-маркетинг
                    ul.dirOption__list
                        li.dirOption__item: a(href='#') Маркетинговая стратегия
                        li.dirOption__item: a(href='#') SEO продвижение
                        li.dirOption__item: a(href='#') Social Media Marketing
                        li.dirOption__item: a(href='#') Контекстная реклама
                        li.dirOption__item: a(href='#') Таргетированная реклама
                        li.dirOption__item: a(href='#') Квиз-маркетинг
                .dirOption
                    a.dirOption__title(href='/serviceCrm.html') CRM автоматизация
                    ul.dirOption__list
                        li.dirOption__item: a(href='#') Внедрение KPI
                        li.dirOption__item: a(href='#') Интеграция телефонии
                        li.dirOption__item: a(href='#') Автоматизация бизнес-процессов
                        li.dirOption__item: a(href='#') Обмен с 1С
                        li.dirOption__item: a(href='#') Внедрение CRM

        .directions__elements
            .directions__image.directions__image_small
                img(src='img/shard_1.png')
            .directions__image.directions__image_big
                img(src='img/shard_1.png')
            .directions__image.directions__image_blur
                img(src='img/shard_2.png')
    .asideRight