.facts.tripleContainer
    .asideLeft
        ul.asideMenu
            li.asideMenu__item: a(href='#') Behance
            li.asideMenu__item: a(href='#') Facebook
            li.asideMenu__item: a(href='#') Instagram
    .facts__container.tripleContainer__center
        .facts__title.pageTitle
            .pageTitle__number 03
            h2.pageTitle__text Факты
        ul.facts__list
            li.facts__item
                .facts__value
                    span(data-step='183', data-goal='2013') 0
                .facts__text 6 лет опыта работы
            li.facts__item
                .facts__value
                    span(data-step='1', data-goal='15') 0
                .facts__text Cпециалистов в команде
            li.facts__item
                .facts__value
                    span(data-step='10', data-goal='200') 0
                    |+
                .facts__text Разработанных сайтов
            li.facts__item
                .facts__value
                    span(data-step='5', data-goal='50') 0
                    |+
                .facts__text Успешных стратегий продвижения
            li.facts__item
                .facts__value х 1.5+
                .facts__text Повышение ROI
            li.facts__item
                .facts__value
                    span(data-step='6', data-goal='90') 0
                    |%
                .facts__text Клиентов сотрудничают с нами на постоянной основе
        .facts__picture
            img(src='img/sliderImage_2.png', alt)
        .facts__elements
            .facts__image.facts__image_small.js-unload
                img(src='img/shard_1.png')
            .facts__image.facts__image_big.js-unload
                img(src='img/shard_1.png')
            .facts__image.facts__image_blur.js-unload
                img(src='img/shard_2.png')
    .asideRight
        .asideCopy © 2013-2019 LIKEIT / web-engineering co