.header__top
    h1.header__title
        | Like
        span it
    a.header__calculate.mainLink(href='#') Рассчитать проект
    .header__phone +375 (29) 322-00-20
    .header__language.langSwitch
        .langSwitch__item.langSwitch__item_active.langSwitch__item_ru Ru
        .langSwitch__item.langSwitch__item_en En
    .header__menuButton.menuAnimatedButton
        .menuAnimatedButton__menuLine.menuAnimatedButton__menuLine_top
        .menuAnimatedButton__menuLine.menuAnimatedButton__menuLine_middle
        .menuAnimatedButton__menuLine.menuAnimatedButton__menuLine_bottom
        //svg.svgBurger
            //use(href='#burger')