header.header.tripleContainer
    .asideLeft
        ul.asideMenu
            li.asideMenu__item: a(href='#') Behance
            li.asideMenu__item: a(href='#') Facebook
            li.asideMenu__item: a(href='#') Instagram
    .header__container.tripleContainer__center
        include headerTop
        include headerSlider
    .asideRight
        .asideCopy © 2013-2019 LIKEIT / web-engineering co