.footer.tripleContainer
  .asideLeft
  .footer__container.tripleContainer__center
    ul.footer__colList
      li.footer__column
        .footer__title.pageTitle.pageTitle_little
          .pageTitle__number 01
          h2.pageTitle__text Технологии
        ul.footer__list
          li.footer__item: a(href='#') О компании
          li.footer__item: a(href='#') Партнеры
          li.footer__item: a(href='#') Отзывы
          li.footer__item: a(href='#') Реквизиты
          li.footer__item: a(href='#') Новости
      li.footer__column
        .footer__title.pageTitle.pageTitle_little
          .pageTitle__number 02
          h2.pageTitle__text Продукция
        ul.footer__list
          li.footer__item: a(href='#') 1С-Битрикс: Управление сайтом
          li.footer__item: a(href='#') CRM системы
      li.footer__column
        .footer__title.pageTitle.pageTitle_little
          .pageTitle__number 03
          h2.pageTitle__text Услуги
        ul.footer__list
          li.footer__item: a(href='#') Разработка web&mobile
          li.footer__item: a(href='#') UX/UI дизайн
          li.footer__item: a(href='#') Digital-маркетинг
          li.footer__item: a(href='#') CRM автоматизация
      li.footer__column
        .footer__title.pageTitle.pageTitle_little
          .pageTitle__number 04
          h2.pageTitle__text Наши контакты
        ul.footer__list
          li.footer__item +375 (29) 322-00-20
          li.footer__item info@likeit.by
          li.footer__item Минск, ул. Казинца 11А Барановичи,
          li.footer__item ул. Куйбышева 111, офис 211
    .footer__footer
      .footer__copy © 2013-2019 LIKEIT / web-engineering co
      .footer__socList
        ul.asideMenu.asideMenu_common
          li.asideMenu__item: a(href='#') Behance
          li.asideMenu__item: a(href='#') Facebook
          li.asideMenu__item: a(href='#') Instagram
  .asideRight