.realm.tripleContainer
  .asideLeft.asideLeft_white
    ul.asideMenu
      li.asideMenu__item: a(href='#') Behance
      li.asideMenu__item: a(href='#') Facebook
      li.asideMenu__item: a(href='#') Instagram
  .realm__container.tripleContainer__center.tripleContainer__center_wideToLeft
    ul.realm__imageList
      li.realm__imageItem.active
        img(src='img/opportunitiesImage.jpg')
        .realm__positioned
          .realm__posWrapper
            .realm__positionedLabel СТРОИТЕЛЬСТВО
            ul.realm__describeList
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Корпоратиные сайты
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Внедрение CRM-систем
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Калькуляторы рассчётов
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Онлайн-планировки квартир
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Порталы недвижимости
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Интерактивный подбор
      li.realm__imageItem
        img(src='img/delivery.jpg')
        .realm__positioned
          .realm__posWrapper
            .realm__positionedLabel Грузоперевозки
            ul.realm__describeList
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Системы контроля и слежения за грузами
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Сервисы по управлению заказами
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Системы самообслуживания для B2B- и B2C-клиентов
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Подключение систем оплаты
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Внедрение CRM
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Транспортные порталы
      li.realm__imageItem
        img(src='img/tourist.jpg')
        .realm__positioned
          .realm__posWrapper
            .realm__positionedLabel Туризм
            ul.realm__describeList
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Корпоративные сайты
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Калькуляторы стоимостии
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Системы онлайн-бронирования
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Подключение платёжных систем
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Программы лояльности
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Порталы
      li.realm__imageItem
        img(src='img/industrial.jpg')
        .realm__positioned
          .realm__posWrapper
            .realm__positionedLabel Производство
            ul.realm__describeList
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Корпоративные сайты
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Расчеты страховых продуктов
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Автоматизация бизнес-процессов
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Внедрение KPI
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Разработка внутренних сервисов
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Разработка мобильных приложений
      li.realm__imageItem
        img(src='img/ecommerce.jpg')
        .realm__positioned
          .realm__posWrapper
            .realm__positionedLabel E-COMMERCE
            ul.realm__describeList
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Подключение систем оплат
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Сайты каталоги, агрегаторы услуг и товаров
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Системы самообслуживания для B2B- и B2C-клиентов
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Системы дополнительных  продаж
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Программы лояльности
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Соответствие законодательным требованиям
      li.realm__imageItem
        img(src='img/medicine.jpg')
        .realm__positioned
          .realm__posWrapper
            .realm__positionedLabel Медицина
            ul.realm__describeList
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Корпоративные сайты
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Мобильные приложения
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Системы бронирования
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Системы дополнительных и перекрестных продаж
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Программы лояльности
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Сервисы онлайн-консультаций
      li.realm__imageItem
        img(src='img/trade.jpg')
        .realm__positioned
          .realm__posWrapper
            .realm__positionedLabel Розничная и оптовая торговля
            ul.realm__describeList
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Интернет-магазины
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Интеграция с 1С и CRM
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Системы самообслуживания для B2B- и B2C-клиентов
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Системы дополнительных и перекрестных продаж
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Программы лояльности
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Электронно-торговые площадки
      li.realm__imageItem
        img(src='img/food.jpg')
        .realm__positioned
          .realm__posWrapper
            .realm__positionedLabel Ресторанный бизнес
            ul.realm__describeList
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Корпоративные сайты
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Сайты-каталоги
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Сервисы управления доставками, заказами и кухней
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Мобильные приложения
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Программы лояльности
              li.realm__describeItem
                svg.svgTick
                  use(href='#tick')
                span Соответствие законодательным требованиям

    .realm__content
      .realm__title.pageTitle.pageTitle_white
        .pageTitle__number 04
        h2.pageTitle__text Отрасли
      ul.realm__list
        li.realm__wrapper
          .realm__item.active
            svg.svgBuild
              use(href='#blueprint')
            span Строительство
        li.realm__wrapper
          .realm__item
            svg.svgBuild
              use(href='#delivery-truck')
            span Грузоперевозки
        li.realm__wrapper
          .realm__item
            svg.svgBuild
              use(href='#travel')
            span Туризм
        li.realm__wrapper
          .realm__item
            svg.svgBuild
              use(href='#factory')
            span Производство
        li.realm__wrapper
          .realm__item
            svg.svgBuild
              use(href='#shopping')
            span E-commerce
        li.realm__wrapper
          .realm__item
            svg.svgBuild
              use(href='#caduceus')
            span Медицина
        li.realm__wrapper
          .realm__item
            svg.svgBuild
              use(href='#shopping_(1)')
            span Розничная и оптовая торговля
        li.realm__wrapper
          .realm__item
            svg.svgBuild
              use(href='#tray')
            span Ресторанный бизнес

  .asideRight.asideRight_white
    .asideCopy © 2013-2019 LIKEIT / web-engineering co
