.cases.tripleContainer
  .asideLeft
    ul.asideMenu
      li.asideMenu__item: a(href='#') Behance
      li.asideMenu__item: a(href='#') Facebook
      li.asideMenu__item: a(href='#') Instagram
  .cases__container.tripleContainer__center.tripleContainer__center_wideToLeft.tripleContainer__center_wideToRight
    .cases__header
      .cases__mainTitle.pageTitle
        .pageTitle__number 05
        h2.pageTitle__text Наши кейсы
      a.cases__watch.mainLink(href='#') Смотреть все кейсы
    .cases__slider
      .cases__item
        .cases__imageWrapper
          img.cases__image(src="img/caseImg.jpg", alt)
        .cases__overlay
        .cases__content
          .cases__title Aminohome.by
          .cases__label Интернет магазин
          .cases__text Современная дизайн мебельного ритейлера – баланс красоты и комфорта.
          a.cases__more.mainLink(href='#') Подробнее
      .cases__item
        .cases__imageWrapper
          img.cases__image(src="img/caseImg.jpg", alt)
        .cases__overlay
        .cases__content
          .cases__title Aminohome.by
          .cases__label Интернет магазин
          .cases__text Современная дизайн мебельного ритейлера – баланс красоты и комфорта.
          a.cases__more.mainLink(href='#') Подробнее
      .cases__item
        .cases__imageWrapper
          img.cases__image(src="img/caseImg.jpg", alt)
        .cases__overlay
        .cases__content
          .cases__title Aminohome.by
          .cases__label Интернет магазин
          .cases__text Современная дизайн мебельного ритейлера – баланс красоты и комфорта.
          a.cases__more.mainLink(href='#') Подробнее
      .cases__item
        .cases__imageWrapper
          img.cases__image(src="img/caseImg.jpg", alt)
        .cases__overlay
        .cases__content
          .cases__title Aminohome.by
          .cases__label Интернет магазин
          .cases__text Современная дизайн мебельного ритейлера – баланс красоты и комфорта.
          a.cases__more.mainLink(href='#') Подробнее
      .cases__item
        .cases__imageWrapper
          img.cases__image(src="img/caseImg.jpg", alt)
        .cases__overlay
        .cases__content
          .cases__title Aminohome.by
          .cases__label Интернет магазин
          .cases__text Современная дизайн мебельного ритейлера – баланс красоты и комфорта.
          a.cases__more.mainLink(href='#') Подробнее
      .cases__item
        .cases__imageWrapper
          img.cases__image(src="img/caseImg.jpg", alt)
        .cases__overlay
        .cases__content
          .cases__title Aminohome.by
          .cases__label Интернет магазин
          .cases__text Современная дизайн мебельного ритейлера – баланс красоты и комфорта.
          a.cases__more.mainLink(href='#') Подробнее

  .asideRight
    .asideCopy © 2013-2019 LIKEIT / web-engineering co
