.header__slider
    .mainSlider.js-unload
        .mainSlider__item
            .mainSlider__container
                .mainSlider__content
                    h2.mainSlider__title
                        | Комплексная разработка 1
                        br
                        | web-проектов  и digital-маркетинг
                    p.mainSlider__text
                        | Уникальный, продающий и креативный дизайн станет Вашей визитной карточкой.
                        br
                        | От имиджевой полиграфии до полной упаковки бизнеса.
                    a.mainSlider__more.mainLink(href='#') Подробнее
                .mainSlider__image
                    img(src='img/sliderImage_1.png', alt='Sider image')
        .mainSlider__item
            .mainSlider__container
                .mainSlider__content.js-removed
                    h2.mainSlider__title
                        | Комплексная разработка 2
                        br
                        | web-проектов  и digital-маркетинг
                    p.mainSlider__text
                        | Уникальный, продающий и креативный дизайн станет Вашей визитной карточкой.
                        br
                        | От имиджевой полиграфии до полной упаковки бизнеса.
                    a.mainSlider__more.mainLink(href='#') Подробнее
                .mainSlider__image
                    img(src='img/sliderImage_2.png', alt='Sider image')
        .mainSlider__item
            .mainSlider__container
                .mainSlider__content.js-removed
                    h2.mainSlider__title
                        | Комплексная разработка 3
                        br
                        | web-проектов  и digital-маркетинг
                    p.mainSlider__text
                        | Уникальный, продающий и креативный дизайн станет Вашей визитной карточкой.
                        br
                        | От имиджевой полиграфии до полной упаковки бизнеса.
                    a.mainSlider__more.mainLink(href='#') Подробнее
                .mainSlider__image
                    img(src='img/sliderImage_1.png', alt='Sider image')
        .mainSlider__item
            .mainSlider__container
                .mainSlider__content.js-removed
                    h2.mainSlider__title
                        | Комплексная разработка 4
                        br
                        | web-проектов  и digital-маркетинг
                    p.mainSlider__text
                        | Уникальный, продающий и креативный дизайн станет Вашей визитной карточкой.
                        br
                        | От имиджевой полиграфии до полной упаковки бизнеса.
                    a.mainSlider__more.mainLink(href='#') Подробнее
                .mainSlider__image
                    img(src='img/sliderImage_2.png', alt='Sider image')
        .mainSlider__item
            .mainSlider__container
                .mainSlider__content.js-removed
                    h2.mainSlider__title
                        | Комплексная разработка 5
                        br
                        | web-проектов  и digital-маркетинг
                    p.mainSlider__text
                        | Уникальный, продающий и креативный дизайн станет Вашей визитной карточкой.
                        br
                        | От имиджевой полиграфии до полной упаковки бизнеса.
                    a.mainSlider__more.mainLink(href='#') Подробнее
                .mainSlider__image
                    img(src='img/sliderImage_1.png', alt='Sider image')
    .header__elements
        .header__scroll
            .header__scrollCircle
                svg.svgScroll
                    use(href='#scrollArrow')
        .header__parallax(data-speed-x="2" data-speed-y="2")
            .header__image.header__image_small.js-unload
                img(src='img/shard_1.png')
            .header__image.header__image_big.js-unload
                img(src='img/shard_1.png')
            .header__image.header__image_blur.js-unload
                img(src='img/shard_2.png')
            .header__image.header__image_bgLeft
                img(src='img/shard_2.png')
            .header__image.header__image_bgRight
                img(src='img/shard_2.png')