.opportunities.tripleContainer
    .asideLeft.asideLeft_white
        ul.asideMenu
            li.asideMenu__item: a(href='#') Behance
            li.asideMenu__item: a(href='#') Facebook
            li.asideMenu__item: a(href='#') Instagram
    .opportunities__container.tripleContainer__center.tripleContainer__center_wideToRight
        .opportunities__content
            .opportunities__title.pageTitle.pageTitle_white
                .pageTitle__number 02
                h2.pageTitle__text Преимущества
            ul.opportunities__accordion
                li.opportunities__item
                    .opportunities__label Решения, основанные на аналитике
                    .opportunities__text Прежде чем выбрать какое-то решение , детально изучаем доступные данные и проводим исследования рынка, товаров или услуг. Разработка нескольких вариантов позволяет максимально точно попасть в ожидания клиента и достичь запланированных бизнес-метрик.
                li.opportunities__item
                    .opportunities__label Системная работа
                    .opportunities__text Каждый проект разделён на этапы. Результат каждого этапа – решение приоритетных задач. Такая система снижает до минимума проектные риски, сроки запуска и сдачи проекта.
                li.opportunities__item
                    .opportunities__label Надёжные технологии
                    .opportunities__text
                        | Надёжность платформ, которые мы используем для разработки решений, подтверждена неоднократно. Максимальная эффективность обусловлена тем, что каждый компонент соответствует проектной задаче и поддерживает общую архитектуру.
                        br
                        | В результате получаем гибкое и заточенное под клиента решение.
                li.opportunities__item
                    .opportunities__label UX/UI дизайн
                    .opportunities__text Дизайн, который имеет влияние на пользователя.
                li.opportunities__item
                    .opportunities__label Команда, которая вдохновляет
                    .opportunities__text
                        | Когда человек делает то, что любит – это видно сразу. Мы приглашаем именно таких специалистов.  С ними приятно не просто работать и учиться новому, а двигать компанию вперёд.
                        br
                        | Именно это во многом является приоритетным фактором успеха.
        .opportunities__video(data-url="https://www.youtube.com/embed/NpEaa2P7qZI")
            .opportunities__overlay
            .opportunities__play
                .opportunities__circle
                    svg.svgPlay
                        use(xlink:href='#Polygon')
                span Смотреть видео
    .asideRight.asideRight_white
        .asideCopy © 2013-2019 LIKEIT / web-engineering co