.tech.tripleContainer
  .asideLeft
  .tech__container.tripleContainer__center
    .tech__header
      .tech__mainTitle.pageTitle
        .pageTitle__number 07
        h2.pageTitle__text Технологии
    ul.tech__list
      li.tech__item
        .tech__label РАЗРАБОТКА СЕРВЕРНЫХ СИСТЕМ
        .tech__text PHP Laravel 1С-Битрикс
      li.tech__item
        .tech__label МОБИЛЬНАЯ РАЗРАБОТКА
        .tech__text iOS Android Xamarin WebView Битрикс
      li.tech__item
        .tech__label РАЗРАБОТКА БАЗ ДАННЫХ
        .tech__text MySQL Memcached
      li.tech__item
        .tech__label РАЗРАБОТКА КЛИЕНТСКИХ СИСТЕМ
        .tech__text JavaScript JQuery Less БЭМ
      li.tech__item
        .tech__label УПРАВЛЕНИЕ ПРОЕКТАМИ
        .tech__text Waterfall Agile Scrum Kanban
      li.tech__item
        .tech__label ВЕБ-АНАЛИТИКА
        .tech__text Google Analytics Яндекс.Метрика
  .asideRight